.main-view {
    .logo, .main-menu {
        height: 50%;
    }

    // TODO: Retina-версия логотипа
    .logo {
        background: url(../img/logo.png) no-repeat center;
    }

    // Стили кнопок главного меню
    .main-menu {
        position: relative;

        // Кнопки в главном меню
        .buttons {
            .button {
                @extend .button-block;
            }
            .button-main {
                @extend .button-stable;
            }
            .button-aux {
                @extend .button-clear;
                @extend .button-small;
            }
        }

        // Внутренние слои в главном меню налагаются друг на друга и занимают
        // всю площадь родительского слоя. Это обеспечивает корректную работу
        // анимаций.
        > div {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    // Анимация плавного появления на экране
    .fade.ng-hide-add {
        -webkit-animation: fadeOut 0.5s;
        animation: fadeOut 0.5s;
    }
    .fade.ng-hide-remove {
        -webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
    }
}