.room-view {
    > div {
        // Все слои вида распологаются друг над другом.
        @extend .stack;
    }

    .game-screen {
        // Додуматься до этого решения стоило миллиона нервов.
        // А решение-то простое и элегантное.
        display: flex;
        flex-direction: column;

        .info-window {
            height: 75px;
            overflow: auto;
            background-color: $stable;
        }

        .chat-window {            
            flex: 1;

            border-top: 1px silver solid;
            padding-top: 1px;

            // Блядь, какие же знатные костыли-то, а!
            display: flex;
            flex-direction: column;

            .chat-scroller {
                flex: 1;
            }
        }

        .vote-button-window {
            > button {
                margin: 0px;
            }

            // Анимация появления/исчезновения
            &.ng-hide-add {
                animation: fadeOutDown 0.5s;
            }
            &.ng-hide-remove {
                animation: fadeInUp 0.5s;
            }
        }
    }

    .info-window {
        display: flex;

        // Колонки статусной строки
        .info-left {
            position: relative;
            width: 75px;
            border-right: 1px solid silver;
        }
        .info-center {
            flex: 1;
        }
        .info-right {
            position: relative;
            width: 75px;
            border-left: 1px solid silver;
        }

        // Табличка вида строка-число-строка
        .info-content {
            position: absolute;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;

            > div {
                // По умолчанию все внутренние слои выравниваются по центру
                text-align: center;
            }
        }

        // Элементы статусной строки
        .info-caption {
            color: silver;
            font-size: 10pt;
        }
        .info-digit {
            flex: 1;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 24pt;
        }
        .info-footer {
            height: 20px;
            line-height: 90%;
            color: gray;
            font-size: 8pt;
        }

        // Метка с цветом игрока
        .info-circle {
            position: absolute;
            top: calc(50% - 5px);
            right: 5px;

            border-radius: 50%;
            width: 10px;
            height: 10px;
        }

        // Заглушка с сообщением о неначатой игре
        .not-started {
            color: gray;
            font-size: 8pt;
            text-align: center;
        }
    }

    .chat {
        display: table;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 3px 2px;
        width: 100%;

        // Строки чередующихся цветов
        li:nth-child(odd) {
            background-color: #ffffff;
        }
        li:nth-child(even) {
            background-color: #f8f8f8;
        }

        // Стиль пользовательского сообщения
        .chat-message {
            display: table-row;

            // В левой части сообщения содержится индекс пользователя,
            // отправившего сообщения.
            .message-left {
                display: table-cell;
                text-align: center;
                vertical-align: top;
                height: 100%;
            }
            // В правой части сообщения содержится имя пользователя и
            // отправленное сообщение.
            .message-right {
                display: table-cell;
            }

            // Индекс пользователя заполняет всю левую колонку
            .player-index {
                // overflow: auto;
                width: 30px;
                height: 100%;
            }
            // Имя пользователя выделяется полужирным
            .player-name {
                font-weight: bold;
            }
            // Длинные слова в сообщении переносятся
            .message {
                word-break: break-word;
            }
        }
        
        // Стиль информационного сообщения
        .log-message .message {
            display: table-cell;
            font-style: italic;
        }
    }
}

// На Android у строки заголовка не отображается граница, поэтому добавляем
// ее вручную к строке статуса.
.platform-android .info-window {
  border-top: 1px silver solid;
}