<ion-view title="Mafia Mobile">
  <ion-content class="main-view" scroll="false">

    <div class="logo"></div>

    <div class="main-menu">

      <div class="center-content" ng-hide="isDefined(isSuccess)">
        <ion-spinner icon="spiral"></ion-spinner>
      </div>

      <div class="buttons center-content fade ng-hide" ng-show="isSuccess">
        <div>
          <button class="button button-main"
            ng-click="newGame('find')">Найти игру</button>
          <button class="button button-main"
            ng-click="newGame('new')">Играть с&nbsp;друзьями</button>
          <button class="button button-aux button-positive"
            ng-click="setName()">Задать имя</button>
        </div>
      </div>

      <div class="center-content fade ng-hide" ng-show="isSuccess === false">
        <div>
          <p>Не удалось подключиться к&nbsp;серверу.</p>
          <button class="button button-block"
            ng-click="reconnect()">Повторить попытку</button>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>